extends layout
block content
    div(class="container-fluid")
        h1= title
        - let results=[{bank_name:"vny", bank_account:"vny128765", bank_balance:23543},{bank_name:"sbi", bank_account:"sbi128765", bank_balance:10543},{bank_name:"canara", bank_account:"canr128765", bank_balance:19543}]
          div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-danger") #{form.bank_name}              
                div(class = "col-sm-2 bg-danger") #{form.bank_account}                
                div(class = "col-sm-2 bg-danger") #{form.bank_balance}
